openapi: 3.0.3
info:
  title: Steam Web API - Dota 2 Match History
  description: |
    Documentation for the Steam Web API endpoint used to fetch Dota 2 match history.

    ## Overview

    This endpoint can be used to:
    1. Fetch a player's recent match history
    2. **Check if a player has public match data enabled**

    Before triggering Mentoroid analysis, you should verify that the target player
    has "Expose Public Match Data" enabled in their Dota 2 settings. If disabled,
    the Mentoroid API will not be able to retrieve match data.

    ## Authentication

    All requests require a Steam Web API key passed as a query parameter.

    **Get your API key:** [https://steamcommunity.com/dev/apikey](https://steamcommunity.com/dev/apikey)

    **Important:** Never expose your API key in client-side code or public repositories.
    Store it in environment variables or a secure secrets manager.

    ## Steam ID Formats

    | Format | Example | Description |
    |--------|---------|-------------|
    | Steam64 | `76561198432333227` | 17-digit ID (used in Steam profile URLs) |
    | Steam32 | `472067499` | Account ID (used by this API) |

    **Conversion Formula:**
    ```
    Steam32 = Steam64 - 76561197960265728
    ```

    **Example:**
    ```
    Steam64: 76561198432333227
    Steam32: 76561198432333227 - 76561197960265728 = 472067499
    ```

  version: 1.0.0
  contact:
    name: Steam Web API
    url: https://developer.valvesoftware.com/wiki/Steam_Web_API
  externalDocs:
    description: Official Steam Web API Documentation
    url: https://developer.valvesoftware.com/wiki/Steam_Web_API

servers:
  - url: https://api.steampowered.com
    description: Steam Web API

tags:
  - name: Privacy Check
    description: Check player privacy status using Steam Web API

paths:
  /IDOTA2Match_570/GetMatchHistory/v1/:
    get:
      tags:
        - Privacy Check
      summary: Get player match history
      description: |
        Fetches recent match history for a Dota 2 player.

        ## Privacy Check Usage

        This endpoint can be used to determine if a player has enabled
        "Expose Public Match Data" in their Dota 2 settings.

        **How it works:**
        - If `status: 1` → Player data is **PUBLIC**
        - If `status: 15` → Player data is **PRIVATE**
        - If `status: 0` → No matches found (new account or no games played)

        ## Rate Limits

        Steam Web API has rate limits. For bulk operations:
        - Add 1-2 second delays between requests
        - Cache results when possible
        - Maximum ~100,000 requests per day

      operationId: getMatchHistory
      parameters:
        - name: key
          in: query
          required: true
          description: |
            Your Steam Web API key.

            **Get one at:** [steamcommunity.com/dev/apikey](https://steamcommunity.com/dev/apikey)

            **Security:** Store in environment variables, never commit to version control.
          schema:
            type: string
          example: "YOUR_STEAM_API_KEY"

        - name: account_id
          in: query
          required: true
          description: |
            Steam32 account ID (not Steam64).

            Convert from Steam64: `account_id = steam64_id - 76561197960265728`
          schema:
            type: integer
          example: 472067499

        - name: matches_requested
          in: query
          required: false
          description: |
            Number of matches to return (1-100).

            For privacy checking, use `1` to minimize response size.
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 25
          example: 1

        - name: hero_id
          in: query
          required: false
          description: Filter matches by hero ID
          schema:
            type: integer
          example: 1

        - name: start_at_match_id
          in: query
          required: false
          description: Start searching from this match ID (for pagination)
          schema:
            type: integer

        - name: min_players
          in: query
          required: false
          description: Minimum number of players in match (filters out bot games)
          schema:
            type: integer
            default: 10

      responses:
        '200':
          description: Match history response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MatchHistoryResponse'
              examples:
                public_profile:
                  summary: Player with PUBLIC match data
                  description: Status 1 indicates the player has enabled "Expose Public Match Data"
                  value:
                    result:
                      status: 1
                      num_results: 1
                      total_results: 293
                      results_remaining: 292
                      matches:
                        - match_id: 8618895432
                          match_seq_num: 7238423118
                          start_time: 1766568171
                          lobby_type: 7
                          radiant_team_id: 0
                          dire_team_id: 0
                          players:
                            - account_id: 4294967295
                              player_slot: 0
                              team_number: 0
                              team_slot: 0
                              hero_id: 56
                              hero_variant: 3
                            - account_id: 1849698182
                              player_slot: 1
                              team_number: 0
                              team_slot: 1
                              hero_id: 68
                              hero_variant: 2

                private_profile:
                  summary: Player with PRIVATE match data
                  description: Status 15 indicates the player has NOT enabled "Expose Public Match Data"
                  value:
                    result:
                      status: 15
                      statusDetail: "Cannot get match history for a user that hasn't allowed it"

                no_matches:
                  summary: No matches found
                  description: Status 0 indicates no matches exist (new account or filters too restrictive)
                  value:
                    result:
                      status: 0
                      num_results: 0
                      total_results: 0
                      results_remaining: 0
                      matches: []

        '403':
          description: Invalid or missing API key
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: "Forbidden"

components:
  schemas:
    MatchHistoryResponse:
      type: object
      properties:
        result:
          $ref: '#/components/schemas/MatchHistoryResult'

    MatchHistoryResult:
      type: object
      properties:
        status:
          type: integer
          description: |
            Response status code indicating data availability.

            | Code | Meaning | Privacy Status |
            |------|---------|----------------|
            | `1` | Success - matches returned | **PUBLIC** |
            | `15` | Cannot get match history | **PRIVATE** |
            | `0` | No matches found | Unknown (new account) |
          enum: [0, 1, 15]
          example: 1
        statusDetail:
          type: string
          description: |
            Error message explaining why data is unavailable.
            Only present when `status` is not `1`.
          example: "Cannot get match history for a user that hasn't allowed it"
        num_results:
          type: integer
          description: Number of matches in this response
          example: 1
        total_results:
          type: integer
          description: Total matches available for this player
          example: 293
        results_remaining:
          type: integer
          description: Matches not included in this response (use pagination)
          example: 292
        matches:
          type: array
          description: Array of match objects (empty if private or no matches)
          items:
            $ref: '#/components/schemas/Match'

    Match:
      type: object
      properties:
        match_id:
          type: integer
          format: int64
          description: Unique match identifier
          example: 8618895432
        match_seq_num:
          type: integer
          format: int64
          description: Sequential match number
          example: 7238423118
        start_time:
          type: integer
          description: Unix timestamp when match started
          example: 1736258571
        lobby_type:
          type: integer
          description: |
            Type of lobby/queue.

            | Code | Type |
            |------|------|
            | 0 | Normal |
            | 1 | Practice |
            | 2 | Tournament |
            | 4 | Co-op Bots |
            | 5 | Ranked Team MM |
            | 6 | Ranked Solo MM |
            | 7 | Ranked |
            | 8 | 1v1 Mid |
            | 9 | Battle Cup |
          example: 7
        radiant_team_id:
          type: integer
          description: Team ID for Radiant (0 if not a team game)
          example: 0
        dire_team_id:
          type: integer
          description: Team ID for Dire (0 if not a team game)
          example: 0
        players:
          type: array
          description: Players in this match
          items:
            $ref: '#/components/schemas/MatchPlayer'

    MatchPlayer:
      type: object
      properties:
        account_id:
          type: integer
          format: int64
          description: |
            Steam32 account ID of the player.

            **Note:** `4294967295` (0xFFFFFFFF) indicates a player with private data.
            This is the anonymous placeholder for players who have not enabled public match data.
          example: 1849698182
        player_slot:
          type: integer
          description: |
            Slot in the match (0-4 = Radiant, 128-132 = Dire).

            Binary: bit 7 = team (0=Radiant, 1=Dire), bits 0-2 = position
          example: 1
        team_number:
          type: integer
          description: Team (0 = Radiant, 1 = Dire)
          example: 0
        team_slot:
          type: integer
          description: Position within team (0-4)
          example: 1
        hero_id:
          type: integer
          description: Dota 2 hero ID played
          example: 68
        hero_variant:
          type: integer
          description: Hero facet variant selected
          example: 2

    PrivacyCheckResult:
      type: object
      description: Simplified result for privacy checking
      properties:
        public:
          type: boolean
          nullable: true
          description: |
            - `true` - Player has public match data
            - `false` - Player has private match data
            - `null` - Could not determine (no matches or API error)
        message:
          type: string
          description: Human-readable status message
          example: "Match data is PUBLIC"
        status_code:
          type: integer
          description: Raw status code from Steam API
          example: 1
        total_matches:
          type: integer
          description: Total matches available (0 if private)
          example: 293

  securitySchemes:
    ApiKeyQuery:
      type: apiKey
      in: query
      name: key
      description: Steam Web API key passed as query parameter
